p{
    background-color: rgba(0, 128, 128, 0.411);
    font-weight: 600;
    font-size: 20px;
    transition: 0.5s;
}
p:hover{
    background-color: rgba(49, 133, 126, 0.404);
}
li{
    font-weight: 400;
    font-size: 20px;
}
abbr{
    color: tomato;
}
a{
    background-color: tomato;
    color: darkblue;
    text-decoration: none;
    border: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}
a:hover{
    background-color: white;
    color:tomato;
    border:2px solid tomato
}
a:active{
    color:darkblue
    ;border:2px solid darkblue
}
img{
    border-radius: 15px;
}
